.container-index{
  position: relative;
  height:100%;
  background-color: #fff;
  padding-top: 1.4rem;
  .back{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .btn{
    display: block;
    margin: 2.7rem auto 0;
    height: 1.2rem;
    width: auto;
  }
}
