<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Expires" CONTENT="0">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <title>爱总结</title>
  <script type="text/javascript">
  function adapt(designWidth, rem2px) {
    var d = window.document.createElement('div');
    d.style.width = '1rem';
    d.style.display = "none";
    var head = window.document.getElementsByTagName('head')[0];
    head.appendChild(d);
    var defaultFontSize = parseFloat(window.getComputedStyle(d, null).getPropertyValue('width'));
    document.documentElement.style.fontSize = window.innerWidth / designWidth * rem2px / defaultFontSize * 100 + '%';
    var st = document.createElement('style');
    var portrait = "@media screen and (min-width: " + window.innerWidth + "px) {html{font-size:" + ((window.innerWidth / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}";
    var landscape = "@media screen and (min-width: " + window.innerHeight + "px) {html{font-size:" + ((window.innerHeight / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}"
    st.innerHTML = portrait + landscape;
    head.appendChild(st);
    return defaultFontSize
  };
  var defaultFontSize = adapt(750, 100);

  </script>
  <!-- build:css -->
  <!-- endbuild -->
</head>

<body>
  <div class="container container-index" id="container">
    <img class="header-img" src="./img/icon-header.png">
    <div class="body"></div>
  </div>
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script id="tpl-index" type="text/html">
    <div class="activity-info">
      <div class="title">¥<span class="price">0.00</span> <span class="title-sm">(此书适用于家长)</span></div>
      {{if isStop && activity.userActivityInfo.status != 2}}
      <div class="time-over">很遗憾，本次书已经送完～下次活动再来吧！</div>
      {{else}}
      <div class="time">活动日期：{{activity.mpActivityInfo.begintime | dateFormatFilter 'yyyy.MM.dd'}} - {{activity.mpActivityInfo.endtime | dateFormatFilter 'yyyy.MM.dd'}}</div>
      {{/if}}
      <div class="desc">运费：免运费<span class="num">剩余：{{activity.mpActivityInfo.productnum - activity.mpActivityInfo.receivenum}}件</span></div>
    </div>


    {{if activity.userActivityInfo && activity.userActivityInfo.status == 1 }}
    <div class="user-address go-address">
      {{if address}}
      <div class="address-title">{{address.name}} {{address.phone}}</div>
      <div class="address-detail">{{address.provincename}} {{address.cityname}} {{address.areaname}} {{address.detail}}</div>
      {{else}}
      <div>选择地址</div>
      {{/if}}
    </div>
    {{/if}}

    <div class="activity-status">
      {{if activity.mpActivityInfo.limitnum - activity.wechatUserInfoLists.length == 0}}
      <div class="success">助力成功</div>
      {{else}}
      <div class="left">已有<span class="big">{{activity.wechatUserInfoLists.length}}</span>名好友为你助力</div>
      <div class="right">还差<span class="big">{{activity.mpActivityInfo.limitnum - activity.wechatUserInfoLists.length}}</span>人即可领书</div>
      {{/if}}
    </div>
    <div class="user-avater">
      <div class="avater-list">
        <%for(var i =0; i < activity.mpActivityInfo.limitnum;i++){%>
          {{if i < activity.wechatUserInfoLists.length }}
          <img class="icon-avater" src="{{activity.wechatUserInfoLists[i].avatarurl}}">
          {{else}}
          <img class="icon-avater" src="./img/icon-avater-default.png">
          {{/if}}
        <%}%>
      </div>

      {{if activity.userActivityInfo && activity.userActivityInfo.status == 2}}
      <img class="btn-order" src="./img/icon-order.png">
      {{else if activity.wechatUserInfoLists.length >= activity.mpActivityInfo.limitnum}}
      <img class="btn-get" src="./img/icon-get.png">
      {{else}}
      <img class="btn-unfinished" src="./img/icon-get-disable.png">
      {{/if}}
    </div>
    <img class="icon-arule" src="./img/icon-activity-rule.png">
    <img class="icon-rule" src="./img/icon-rule.png">
    <img class="icon-detail" src="./img/icon-detail.png">
  </script>
  <!-- build:js -->
  <!-- endbuild -->
</body>

</html>
