.container-evaluate{
  position: relative;
  height:100%;
  padding: .3rem .3rem 0;
  .wrapper{
    width: 100%;
    padding:.3rem 0;
    border-radius: 6px;
    background-color: #fff;
    .title{
      padding:0 .3rem;
      font-size: .38rem;
      color: #333;
      line-height: .53rem;
    }
    .answer-teacher-name,.answer-num{
      padding: .2rem .3rem 0;
      font-size: .26rem;
      color: #666;
      line-height: .37rem;
    }
    .answer-num{
      padding: .06rem .3rem .3rem;
    }
    .evaluate-result{
      display:flex;
      height:1.2rem;
      align-items:center;
      font-size: .26rem;
      color: #666;
      line-height: .37rem;
      padding: 0 .3rem;
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      .star{
        display:flex;
        height:.4rem;
        align-items:center;
        margin-right:.3rem;
        .icon-gray,.icon-light{
          display:block;
          width:.4rem;
          height:100%;
          margin-right: .3rem;
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 100% auto;
        }
        .icon-gray{
          background-image: url(../img/icon-star-gray.png);
        }
        .icon-light{
          background-image:url(../img/icon-start-light.png);
        }
      }
    }
    .select-group{
      display:none;
      padding:.3rem .3rem 0;
      .select{
        display:flex;
        font-size:.28rem;
        color:#333;
        height:.72rem;
        align-items:center;
        margin-bottom: .3rem;
        padding-left: .2rem;
        border:1px solid #D4D4D4;
        background-color: #F8F8F8;
        &.current{
          color:#fff;
          background-color: #666;
          border:1px solid #666;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .textarea{
      padding:.3rem .3rem 0;
      textarea{
        width: 100%;
        height: 2.8rem;
        background-color: #fff;
        outline: none;
        border:none;
        font-size: .3rem;
        line-height: .42rem;
        color: #666;
      }
    }
  }
  .submit{
    display:flex;
    margin-top: .6rem;
    align-items:center;
    justify-content:center;
    font-size:.32rem;
    line-height:.45rem;
    color:#fff;
    width:100%;
    height:.88rem;
    border-radius:6px;
    background-color:#FF6D41;
  }
  .complaint{
    position:fixed;
    font-size:.28rem;
    line-height:.4rem;
    text-align: center;
    color:#333;
    left: 50%;
    width:1rem;
    margin-left: -.5rem;
    bottom: .42rem;
    display:inline-block;
  }
  .status{
    position:relative;
    display:none;
    margin-top:.6rem;
    height:.5rem;
    font-size:.32rem;
    color:#666;
    &:before{
      position:absolute;
      width:2.6rem;
      height:1px;
      left:50%; top:50%;
      transform:translate(-50%,-50%);
      content:"";
      background-color:#D9D9D9;
    }
    &:after{
      position:absolute;
      left:50%; top:50%;
      padding:0 .3rem;
      font-size:.26rem;
      color:#999;
      transform:translate(-50%,-50%);
      content:"已提交";
      background-color:#f7f7f7;
    }
  }
  .success-wrapper{
    position: fixed;
    display:none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.3);
    .success-inner{
      position:absolute;
      left:0; width:100%;
      bottom:0;
      height:5rem;
      background-color:#fff;
      .header{
        position:relative;
        text-align:center;
        line-height: .88rem;
        font-size:.3rem;
        color: #666666;
        border-bottom:1px solid #D9D9D9;
        .close{
          position:absolute;
          display:block;
          height:.88rem;
          width:.88rem;
          top:0; right:0;
           > img{
            position:absolute;
            display:block;
            top:50%;
            right:.3rem;
            width:.3rem; height:auto;
            transform:translate(0,-50%);
          }
        }

      }
      > img{
        margin:1rem auto 0;
        display:block;
        width:.8rem;height:auto;
      }
      .msg{
        text-align:center;
        padding-top:.3rem;
        font-size:.26rem;
        line-height:.37rem;
        color: #666;
      }
    }
  }
}
