.container-order {
    background-color: #efefef;
    height:100%;
    .from-groups {
        padding: 0 0.35rem;
        background-color: #fff;
        margin-bottom: 0.3rem;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }
    .from-group {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 0.88rem;
        border-bottom: 1px solid #e2e2e2;
        font-size: 0.32rem;
        color: #333;
        .lable {
            width: 1.6rem;
        }
        input{
          flex:1;
        }
        &.redio {
            border-bottom: none;
            padding-left:0.6rem;
            background-image: url(../images/icon-select.png);
            background-repeat: no-repeat;
            background-size: 0.38rem auto;
            background-position: left center;
            &.check{
                background-image: url(../images/icon-selected.png);
            }
        }
        .icon-content {
            display: block;
            width: auto;
            height: 1.2rem;
        }
        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 1.8rem;
            padding: 0.3rem 0;
            font-size: 0.28rem;
            color: #333;
            margin-left: 0.2rem;
            border-bottom:1px solid #e2e2e2;
            .price {
                font-size: 0.22rem;
                color: #ff9834;
                .price-number {
                    display: inline-block;
                    padding-left: 0.05rem;
                    font-size: 0.32rem;
                }
            }
        }
        &:last-child {
            border-bottom: none;
            .info {
            	border-bottom:none;
            }
        }
    }
    .btn-pay{
    	display:block;
    	height:0.8rem;
    	line-height: 0.8rem;
    	text-align: center;
    	font-size:0.32rem;
    	color:#fff;
    	border-radius: 0.05rem;
    	margin:0.6rem 0.6rem 0;
    	background-color:#ff9834;
    	&.disabled{
			background-color:rgba(255,152,52,0.3);
			pointer-events: none;
		}
    }
}
