.title{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.desc{
  font-size:14px;
  padding: 0 20px;
}
.form{
  padding:0 5px 20px;
}
.form-group{
  position: relative;
  padding:10px;
  margin-top: 10px;
  border: 2px solid #f7f7f7;
  &.error{
    border: 2px solid rgb(255, 153, 0);
  }
  .lable{
    display:block;
    font-weight:bold;
    font-size:14px;
    color:#333;
    line-height: 38px;
    .req{
      color:red;
      font-size:20px;
    }
  }
  .controll{
    display: block;
    width: 100%;
    font-size:16px;
    line-height:20px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    overflow: hidden;
  }
  .msg{
    color:red;
    font-size:14px;
    line-height:30px;
  }
  .input{
    display:block;
    width:100%;
    height: 34px;
    padding:0 15px;
    color:#333;
  }
  .select{
    display:block;
    width:100%;
    height: 34px;
    padding:0 15px;
    color:#333;
    background-color: #fff;
    border:none;
  }
}

.btn-group{
  position: relative;
  padding:10px 10px 20px;
  .submit{
    display: block;
    width: 100%;
    height:43px;
    color:#fff;
    outline:none;
    border-radius:5px;
    background-color: #1ea0fa;
    &.disabled{
      background-color:rgba(30,160,250,0.3);
      pointer-events: none;
    }
  }
}
.success-msg{
  display:none;
  padding:30px 20px;
}


