*,
*:before,
*:after {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}
html,body{
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color:#333;
    font-family: "Microsoft Yahei",helvetica;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7f7f7;
}
input,select{
  border:none;
  outline:none;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #C3C4C4;
  font-weight: 300;
}
input:-ms-input-placeholder { // IE10+
  font-size: 14px;
  color: #C3C4C4;
  font-weight: 300;
}
input:-moz-placeholder { // Firefox4-18
  font-size: 14px;
  color: #C3C4C4;
  font-weight: 300;
}
input::-moz-placeholder { // Firefox19+
  font-size: 14px;
  color: #C3C4C4;
  font-weight: 300;
}
@import 'normalize.scss';
@import 'index.scss';
@import 'login.scss';
@import 'address.scss';
@import 'select.scss';
@import 'prebind.scss';

.loading-layer {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);
  + .loading-layer{
    display:none !important;
  }
  .loading-inner {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.1rem;
    background-color: #FFF;
  }
  img {
    display: inline-block;
    height: 60%;
    margin: 20%;
    animation: rotate 1.5s infinite linear;
  }
}

.confirm-layer{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);
  .confirm-inner{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
    border-radius: 0.1rem;
    background-color: #FFF;
  }
  .title{
    text-align:center;
    font-size:.3rem;
    color:#333;
    line-height:.43rem;
    padding:.4rem .3rem;
  }
  .btns{
    display:flex;
    width:100%;
    height:.8rem;
    border-top:1px solid #F4F4F4;
    .btn-ok,.btn-cancle{
      display:flex;
      flex:1;
      font-size:.3rem;
      color:#FF6D41;
      align-items:center;
      justify-content: center;
    }
    .btn-ok{
      border-left: 1px solid #F4F4F4;
    }
  }

}


.container-toast{
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  line-height: 0.6rem;
  font-size: 0.26rem;
  text-align: center;
  color:#fff;
  background-color: rgba(255,0,0,0.8);
}

.loading-more{
  position:relative;
  display:block;
  font-size:0.24rem;
  text-align:center;
  color:#999;
  line-height:0.5rem;
  .loading{
    position:relative;
    display:inline-block;
    padding-left: 0.4rem;
    &:before{
      position:absolute;
      left:0;
      top:50%;
      content:"";
      height:0.3rem;
      width:0.3rem;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgxMDB2MTAwSDB6Ii8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjRTlFOUU5IiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTMwKSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iIzk4OTY5NyIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgzMCAxMDUuOTggNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjOUI5OTlBIiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKDYwIDc1Ljk4IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0EzQTFBMiIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSg5MCA2NSA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNBQkE5QUEiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoMTIwIDU4LjY2IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0IyQjJCMiIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgxNTAgNTQuMDIgNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjQkFCOEI5IiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA1MCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNDMkMwQzEiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE1MCA0NS45OCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNDQkNCQ0IiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTEyMCA0MS4zNCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNEMkQyRDIiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTkwIDM1IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0RBREFEQSIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgtNjAgMjQuMDIgNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjRTJFMkUyIiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKC0zMCAtNS45OCA2NSkiLz48L3N2Zz4=);
      background-repeat:no-repeat;
      background-size: 100%;
      animation: rotate 1s steps(12, end) infinite;
      background-position:center;
      margin-top: -0.15rem;
    }
  }
  .unload{
    &:before{
      content:none;
    }
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
