<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Expires" CONTENT="0">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <title>爱总结物理</title>
  <script type="text/javascript">
  function adapt(designWidth, rem2px) {
    var d = window.document.createElement('div');
    d.style.width = '1rem';
    d.style.display = "none";
    var head = window.document.getElementsByTagName('head')[0];
    head.appendChild(d);
    var defaultFontSize = parseFloat(window.getComputedStyle(d, null).getPropertyValue('width'));
    document.documentElement.style.fontSize = window.innerWidth / designWidth * rem2px / defaultFontSize * 100 + '%';
    var st = document.createElement('style');
    var portrait = "@media screen and (min-width: " + window.innerWidth + "px) {html{font-size:" + ((window.innerWidth / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}";
    var landscape = "@media screen and (min-width: " + window.innerHeight + "px) {html{font-size:" + ((window.innerHeight / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}"
    st.innerHTML = portrait + landscape;
    head.appendChild(st);
    return defaultFontSize
  };
  var defaultFontSize = adapt(750, 100);

  </script>
  <!-- build:css -->
  <!-- endbuild -->
</head>

<body>
  <div class="container container-detail" id="container"></div>
  <!-- build:js -->
  <!-- endbuild -->
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

  <script id="tpl-ios-guide" type="text/html">
    <div class="ios-layer">
      {{if isGroup}}
      <div class="copy-wrapper">
        <textarea readonly="readonly">{{url}}</textarea>
        <span class="btn-copy" data-clipboard-text="{{url}}">复制</span>
      </div>
      <div class="copy-message">复制成功</div>
      <img src="https://adminpic.chaisenwuli.com/admin/static/minipro/mini_guide3.jpg" />
      {{else}}
      <img src="https://adminpic.chaisenwuli.com/admin/static/minipro/mini_guide2.jpg" />
      {{/if}}
    </div>
  </script>

  <script id="tpl-rule" type="text/html">
    <div class="rule-layer">
      <div class="rule-inner">
        <div class="rule-title">
          团购须知
          <img class="btn-close" data-target='.rule-layer' src="./img/icon-close.png">
        </div>
        <div class="rule-body">
          1.团购商品下单后需要在30分钟之内完成支付，否则该订单会自动取消。<br/>
          2.由团长发起团购，分享给好友，等待其他用户参团。此团有效期为24小时，有两位用户参团付款，即视为拼团成功。<br/>
          3.若付款后24小时内，无用户参团，则团购失败，有短信通知用户，并发起退款。款项由原路返回，到账以微信为准。<br/>
          4.商品售完时未能拼单者即视为拼团失败，将发起退款。
        </div>
      </div>
    </div>
  </script>

  <script id="tpl-avater-list" type="text/html">
    <div class="avater-list {{activity.bookingUsers.length >= 5 ? 'more' : ''}}">
      {{each activity.bookingUsers user}}
      <img class="avater" src="{{user.avatarUrl || '//zongjiewebimg.chaisenwuli.com/activitys/groupon/img/icon-join.png'}}">
      {{/each}}
      {{each activity.surplusUser}}
      <img class="avater" src="{{'//zongjiewebimg.chaisenwuli.com/activitys/groupon/img/icon-not-join.png'}}" />
      {{/each}}
    </div>
  </script>

  <script id="tpl-group-info" type="text/html">
    {{if isShop}}
      {{ if activity.bookingStatus == 1}}
      <div class="group-shop">
        {{ include 'tpl-avater-list'}}
        <div class="booking-msg">邀请<span class="orange">{{activity.leftCount}}</span>个好友即可成团，快邀请好友参团吧！</div>
      </div>
      {{else if activity.bookingStatus == 2}}
      <div class="group-shop">
        {{ include 'tpl-avater-list'}}
        <div class="booking-msg"> 恭喜，已顺利成团！</div>
      </div>
      {{else if activity.bookingStatus == 3 }}
      <div class="group-shop">
        {{ include 'tpl-avater-list'}}
        <div class="booking-msg">真遗憾～拼团失败 </div>
      </div>
      {{/if}}
    {{else}}
      {{if activity.bookingStatus == 1 }}
      <div class="group-shop">
        {{ include 'tpl-avater-list'}}
        <div class="booking-msg">剩<span class="orange">{{activity.leftCount}}</span>个名额，加入团购享受优惠！</div>
      </div>
      {{else if activity.bookingStatus == 2 }}
      <div class="group-shop">
        {{ include 'tpl-avater-list'}}
        <div class="booking-msg"> 哎呀～来晚了，本团满员啦</div>
      </div>
      {{else if activity.bookingStatus == 3 }}
      <div class="group-shop">
        {{ include 'tpl-avater-list'}}
        <div class="booking-msg"> 真遗憾～本团结束啦 </div>
      </div>
      {{/if}}
    {{/if}}
  </script>

  <script id="tpl-btns" type="text/html">
    {{ if isShop }}
      {{ if activity.bookingStatus == 1 }}
      <div class="btns oval">
        {{if activity.activityStatus == 2}}
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
        {{else}}
        <div class="btn go-share">邀请好友参团</div>
        {{/if}}
        <div class="btn go-order">查看订单</div>
      </div>
      {{ else if activity.bookingStatus == 2 }}
      <div class="btns oval">
        <div class="btn go-my-course">我的课程</div>
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
      </div>
      {{ else if activity.bookingStatus == 3 }}
      <div class="btns oval">
        {{if activity.activityStatus == 2}}
        <div class="btn go-order">查看退款</div>
        {{else}}
        <div class="btn group-repay">重新开团</div>
        {{/if}}
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
      </div>
      {{/if}}
    {{else}}
      {{if activity.activityStatus == 2 }}
      <div class="btns">
        <div class="btn disable">¥ {{activity.price}}团购结束</div>
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
      </div>
      {{else if activity.bookingStatus == 0 }}
      <div class="btns oval">
        <div class="btn group-pay">¥ {{activity.price}} 发起团购</div>
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
      </div>
      {{else if activity.bookingStatus == 1 }}
      <div class="btns oval">
        <div class="btn group-pay">¥ {{activity.price}} 我要参团</div>
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
      </div>
      {{else if activity.bookingStatus == 2 }}
      <div class="btns oval">
        <div class="btn group-repay">开新团</div>
        {{if isMore}}<div class="btn  go-list">更多团购</div>{{/if}}
      </div>
      {{else if activity.bookingStatus == 3 }}
      <div class="btns oval">
        <div class="btn group-repay">开新团</div>
        <div class="btn go-list">更多团购</div>
      </div>
      {{/if}}
    {{/if}}
  </script>

  <script id="tpl-count-down" type="text/html">
    {{ if activity.activityStatus == 2 }}
    <div class="count-down"><span class="lable">此活动已结束</span></div>
    {{else if activity.bookingStatus == 1}}
    <div class="count-down">
      <span class="lable">距本次团购结束仅剩</span>
      <div class="time-box"></div>
    </div>
    {{else}}
      <div class="count-down">
        <span class="lable">距活动结束仅剩</span>
        <div class="time-box"></div>
      </div>
    {{/if}}
  </script>

  <script id="tpl-main" type="text/html">
    <img class="top-image" src="{{activity.productTitlePicUrl}}">
    <div class="group-header">
      <div class="group-price">
        <span class="price">¥{{activity.price}}<span class="original-price">单买¥ {{activity.originalPrice}}</span></span>
        <span class="desc"><span class="yellow">{{activity.activityGroupCount}}</span> 人成团各减 <span class="yellow">{{activity.originalPrice-activity.price}}</span>元</span>
      </div>
      {{ include 'tpl-count-down' }}
    </div>
    <div class="header">
      <div class="title">{{activity.activityTitle}}</div>
      <div class="message">如果团购失败，24小时全额原路退款</div>
      <div class="other">{{product.names}} {{product.timeSlot}}</div>
    </div>
    {{ include 'tpl-group-info' }}
    <div class="btn-message ">拼团须知</div>
    <div class="course-detail">
      <ul class="tabs">
        <li class="tab current" data-target=".course-desc">课程详情</li>
        <li class="tab" data-target=".course-catalog">课程目录</li>
      </ul>
      <div class="tab-container course-desc">
        {{each product.descriptionList desc}} {{if desc}}
        <img class="desc" src="{{desc}}"> {{/if}} {{/each}}
      </div>
      <ul class="tab-container course-catalog">
        {{each product.classProducts classes}}
        <li class="class">
          <div class="class-title">{{classes.title}}</div>
          <ul>
            {{each classes.periodList period index}}
            <li class="period">
              <div class="period-title">{{index+1}}. {{period.title}}</div>
              <div class="period-info">{{period.teacher.name}} {{ period.beginTime | dateFormatFilter 'MM月dd日'}} {{ period.beginTime | weekFilter }} {{period.beginTime | dateFormatFilter 'hh:mm'}}-{{period.endTime | dateFormatFilter 'hh:mm' }} </div>
            </li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>
    </div>
    {{ include 'tpl-btns' }}
  </script>
</body>

</html>
